[Unit]
Description=LXC AutoScale API
After=network.target

[Service]
User=root
Group=root
Environment="PATH=/usr/local/bin:/usr/bin:/bin:/usr/sbin"
WorkingDirectory=/usr/local/bin/autoscaleapi/
ExecStart=/usr/local/bin/gunicorn --workers 3 --bind 0.0.0.0:5000 app:app

# Restart on failure
Restart=on-failure
RestartSec=3

[Install]
WantedBy=multi-user.target
