[Unit]
Description=LXC AutoScale API
Documentation=https://github.com/fabriziosalmi/proxmox-lxc-autoscale
After=network.target

[Service]
User=root
Group=root
Environment="PATH=/usr/local/bin:/usr/bin:/bin:/usr/sbin"
WorkingDirectory=/usr/local/bin/lxc_autoscale_api/
ExecStart=/usr/bin/python3 /usr/local/bin/lxc_autoscale_api/app.py

# Restart on failure
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
