[Unit]
Description=LXC Monitor Service
Documentation=https://github.com/fabriziosalmi/proxmox-lxc-autoscale
After=network.target

[Service]
ExecStart=/usr/bin/python3 /usr/local/bin/lxc_monitor.py
WorkingDirectory=/usr/local/bin/
StandardOutput=inherit
StandardError=inherit
Restart=on-failure
User=root

# Logging configuration
Environment="PYTHONUNBUFFERED=1"
EnvironmentFile=/etc/lxc_autoscale_ml/lxc_monitor.yaml

[Install]
WantedBy=multi-user.target
